apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
{{- if not .Restricted }}
  - namespace.yaml
{{- end }}
  - deployment.yaml
  - postgres-stateful-set.yaml
  - service.yaml
  - postgres-service.yaml
  - network-policy.yaml
