apiVersion: v1
kind: Service
metadata:
  name: "{{ .Service.Name.DNSCase }}-postgres"
  namespace: "{{ .Namespace }}"
  labels:
    app.kubernetes.io/name: "{{ .Service.Name.DNSCase }}"
    app.kubernetes.io/component: postgres
spec:
  clusterIP: None
  selector:
    app.kubernetes.io/name: "{{ .Service.Name.DNSCase }}"
    app.kubernetes.io/component: postgres
  ports:
    - name: postgres
      port: 5432
      targetPort: postgres
